.userPhoto {
    width: 100px;
    height: 100px;
}

.user {
    padding: 50px;
}

.oneUser {
    padding: 10px;
}

.selectedPage {
    font: bold;
}

.userPhoto {
    width: 100px;
   height: 100px;
}

.selectedPage {
   font-weight: bold;
}
